---
import pico from "../assets/pico.css?url";

const path =
  Astro.url.pathname === "/"
    ? "/index.html"
    : Astro.url.pathname.replace(/\/+$/g, "") + ".html";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      href="data:,"
    />
    <link
      rel="stylesheet"
      href={pico}
    />
    <title>{path} &middot; leodev.xyz</title>

    <script
      is:inline
      src="https://m.leodev.cloud/js/script.js"
      async
    ></script>
  </head>
  <body class="container">
    <header>
      <nav>
        <a href="/">
          <h1>
            {path}
          </h1>
        </a>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <hr />
      <small>
        <nav>
          <ul></ul>
          <ul>
            <li>
              <a href="https://leodev.xyz"
                >&copy; {new Date().getFullYear()} leodev.xyz</a>
            </li>
          </ul>
        </nav></small
      >
    </footer>
  </body>
</html>
